CAP_STORAGE_MODE=local
CAP_DATA_ROOT=d:/Projects/cancer-analytics-project/data

SNOWFLAKE_ACCOUNT=
SNOWFLAKE_USER=
SNOWFLAKE_PASSWORD=
SNOWFLAKE_WAREHOUSE=CANCER_ANALYTICS_WH
SNOWFLAKE_DATABASE=CANCER_ANALYTICS_DB
SNOWFLAKE_SCHEMA=SEMANTIC
SNOWFLAKE_ROLE=CANCER_ANALYTICS_ANALYST
