airflow_venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

.env
.env.*
!.env.example

airflow/logs/
airflow/airflow.db
airflow/postgres-db-volume/

data/bronze/
data/silver/
data/gold/
data/ops/

*.parquet
_SUCCESS
*.crc

.streamlit/
